.cart_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.total-sum-container {
  display: flex;
  align-items: center;
  margin: 0 9rem;
}

.total-sum {
  font-size: 1.5em;
  margin-left: 10px;
  color: #007bff;
}
